body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f2f2f2;
}

h1 {
    color: darkblue;
    text-align: center;
}

header {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

#add-expense {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}

.expenses {
    background-color: white;
    padding: 20px;
}

input {
    display: block;
    margin: 8px 0 15px 0;
    padding: 10px;
    width: 250px;
}